<h1>edit collection</h1>

<%= form_for :collection, url: collection_path(@collection), method: :patch do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<% @quotes.each do | q | %>

  <div class="quote">
    <p>
      <%= link_to q.content, quote_path(q) %>
    </p>
    <% if q.author %>
      <p>
        ---<%= link_to q.author.name, author_path(q.author) %>
      </p>
    <% end %>
  </div><br/>

<% end %>

<%= link_to 'Back', collection_path(@collection) %>

<%= link_to 'Delete!', collection_path(@collection), method: :delete, class: 'delete' %>
