<h1>show</h1>

<p>
  <strong>Collection Title:</strong>
  <%= @collection.title %>
</p>

<% @quotes.each do | q | %>

  <div class="quote">
    <p>
      <%= link_to q.content, quote_path(q) %>
    </p>
    <% if q.author %>
      <p>
        ---<%= link_to q.author.name, author_path(q.author) %>
      </p>
    <% end %>
  </div><br/>

<% end %>

<%= link_to 'Favorites', collection_favorites_path(@collection) %>
<%= link_to 'Back', collections_path %>
<%= link_to 'Edit', edit_collection_path(@collection) %>
