<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote.author.name %>
</p>

<br>

<%= form_for [@quote, Favorite.new] do |f| %>
  <%= collection_select(:favorite, :collection_id, Collection.all, :id, :title) %>
  <%= f.submit 'add to collection! yay!!' %>
<% end %>

<%= link_to 'Back', author_quotes_path(@quote.author) %>
<%= link_to 'Edit', edit_quote_path(@quote) %>
